/* kiosk specific css, change only if really needed */
* {
	box-sizing: border-box;
	-webkit-user-select: none !important;
	user-select: none !important;

}

body,
html {
	margin: 0;
	padding: 0;
}

.view {
	display: none;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.show {
	display: block;
}

/* end of kiosk specific css */


#time-selection {
	background-color: black;
	color:#778899;
	width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
}

.container-fluid {
	margin-bottom: 50px;
}


p {
	margin-bottom: 10px;
}
.main {
	
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 20%;
	font-size: 60px;
	text-align: center;
}

.title-one, .aastad-one, .aastad-two, .aastad-three, .aastad-four{
	font-family: 'Core Sans A 65';
    font-weight: bold;
    font-style: normal;
}
.title-two{
	font-family: 'Core Sans A 35';
    font-weight: 300;
    font-style: normal;
	padding-bottom: 40px;
}


.col-sm {
	padding-top: 15%;
    padding-bottom: 15%;
	padding-left: 0;
	padding-right: 0;
	display: flex;
    background-size: cover;
    vertical-align: middle;
    background-size: cover;
	color: black;
	font-weight: bold;
}
.col-sm.time-one {
    background: url(../img/image-link.png) top center no-repeat;
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
	font-size: 23px;
}
.col-sm.time-two {
    background: url(../img/image-link2.png) top center no-repeat;
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
	font-size: 23px;
}
.col-sm.time-three {
    background: url(../img/image-link3.png) top center no-repeat;
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
	font-size: 23px;
}
.col-sm.time-four {
    background: url(../img/image-link4.png) top center no-repeat;
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
	font-size: 23px;
}

.lang-image{
	width: 30px;
	height: auto;
	margin-left: 25px;
	margin-right: 25px;
}
.lang-image.invisible{
	margin-left: 20px;
	margin-right: 35px;

}
a.lang {
    color: whitesmoke;
    text-transform:uppercase;
    padding: 0 15px;
    font-weight: bold;
    font-size: 28px;
	font-family: 'Core Sans A 45';
    font-weight: normal;
    font-style: normal;
}
a.active {
    color: #787878;
}


.first-container {
	background-color: #a19fa2;
	height: 100%;
	width: auto;
}
.second-container {
	background-color: #c4009d;
	height: 100%;
	width: auto;
}
.third-container {
	background-color: #00deda;
	height: 100%;
	width: auto;
}
.fourth-container {
	background-color: #FFD16A;
	height: 100%;
	width: auto;
}


.boxes-one{
	background: url(../img/button1.png) top center no-repeat;
}
.boxes-two{
	background: url(../img/button2.png) top center no-repeat;
}.boxes-three{
	background: url(../img/button3.png) top center no-repeat;
}.boxes-four{
	background: url(../img/button4.png) top center no-repeat;
}
.boxes-algus-one {
	background: url(../img/button11.png) top center no-repeat;
}
.boxes-algus-two {
	background: url(../img/button22.png) top center no-repeat;
}.boxes-algus-three {
	background: url(../img/button33.png) top center no-repeat;
}.boxes-algus-four {
	background: url(../img/button44.png) top center no-repeat;
}

.tagasi-box {
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
  	float:left;
}
.tagasi-box div {
  transform-origin: 100;
  transform: rotate(90deg);
  color: whitesmoke;
}

.valmis-box {
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
  	float:right;
	transform: rotate(180deg);
}
.valmis-box div {
  transform-origin: 100;
  transform: rotate(90deg);
  color: whitesmoke;
}
.tagasi-kiri, .valmis-kiri, .algus-kiri, .result {
	font-family: 'Core Sans A 45';
    font-weight: normal;
    font-style: normal;
}
.algus-box {
    padding-top: 3%;
    padding-bottom: 3%;
    background-size: cover;
    vertical-align: middle;
    color: whitesmoke;
    margin-top: 50px;
	width: 40%;
	font-size: 30px;
	border: 0;
}


.clothing-selection{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.puppet-container {
	position: relative;
	width: 50%;
	height: 70%;
	margin: auto;
	padding-top: 10%;
}
.puppet-container svg{
	margin: auto;
	display: block;
}
.nukk {
	height: auto;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}


.carousel {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.track {
	height: auto;
}
.crsl-one {
	background: #CECECF;
}
.crsl-two {
	background: #E17FCE;
}.crsl-three {
	background: #7FEEED;
}.crsl-four {
	background: #FFE7B7;
}

.puppet-row{
	height: 60%;
	width: auto;
	margin-bottom: 5%;
}

.item{
		
		border-radius: 5px;
		height: 300px;
		width: auto;
		border-right-style: groove;
}
.toggle_clothing{
	height: 100%;
}

.result {
	color: white;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 23px;
}
