@font-face {
    font-family: 'Core Sans A 45';
    src: url('CoreSansA45Regular.eot');
    src: url('CoreSansA45Regular.eot?#iefix') format('embedded-opentype'),
        url('CoreSansA45Regular.woff2') format('woff2'),
        url('CoreSansA45Regular.woff') format('woff'),
        url('CoreSansA45Regular.ttf') format('truetype'),
        url('CoreSansA45Regular.svg#CoreSansA45Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans A 65';
    src: url('CoreSansA65Bold.eot');
    src: url('CoreSansA65Bold.eot?#iefix') format('embedded-opentype'),
        url('CoreSansA65Bold.woff2') format('woff2'),
        url('CoreSansA65Bold.woff') format('woff'),
        url('CoreSansA65Bold.ttf') format('truetype'),
        url('CoreSansA65Bold.svg#CoreSansA65Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans A 35';
    src: url('CoreSansA35Light.eot');
    src: url('CoreSansA35Light.eot?#iefix') format('embedded-opentype'),
        url('CoreSansA35Light.woff2') format('woff2'),
        url('CoreSansA35Light.woff') format('woff'),
        url('CoreSansA35Light.ttf') format('truetype'),
        url('CoreSansA35Light.svg#CoreSansA35Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

